<h1 class='center'>rachio</h1>

<% @devices.each do |device| %>
  <div class="device" id="<%= device.id %>">
    <h4 class="center"><%= device.name %></h4>
    <div class="zones">
      <ul class="collection">
        <% device.zones.each do |zone| %>
        <li class="collection-item avatar">
          <img src="<%= zone[:customNozzle][:imageUrl] %>" alt="nozzle-type" class="circle">
          <span class="title"><%= zone[:name] %></span>
          <p>Area: <%= zone[:yardAreaSquareFeet] %> sq ft</p>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
